{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="https://mail.google.com/mail/u/0?ui=2&ik=78d02b960e&attid=0.3&permmsgid=msg-f:1769297600288510276&th=188dcecb1725d144&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-15uL7yr-rEOGq82gQldE88-Kkc_autaxyro78KByPTSDrZ9jF5TczqGVHnQHDCNHO-oMpv7pA5v2IDxB8BTZcCNzvznsdKiRO6ydqLEu2zQmOUYXc2BwQwxo&disp=emb&realattid=ii_lj5ewa8t2" class="card-img-top" alt="web-main/pictures/unnamed.jpg">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" style="background-color: red;">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://mail.google.com/mail/u/0?ui=2&ik=78d02b960e&attid=0.1&permmsgid=msg-f:1769297600288510276&th=188dcecb1725d144&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ8EcivfwHFiY-uQZmmL_Wr59pdh_sgJkkp-yCwVJ9UKiSTuMMCLPe4yFVNnZu2ew-9B8fNod-XQkvjw-cwsHyHO_oW7EyE1Qb76V1lAbox0IF5UfpFwEaMvVtQ&disp=emb&realattid=ii_lj5evtan0">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="https://mail.google.com/mail/u/0?ui=2&ik=78d02b960e&attid=0.2&permmsgid=msg-f:1769297600288510276&th=188dcecb1725d144&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-rzou-8AgJt8nTyawJTSmFQYMyo2T4FQ_azBgy3WmxTs-p52h3mC2eD7XTEj6E7kdjl6HFdR4Ok8zzPCD5zZqfbX4TFItd7r8QBpob9BVJjAaTrzViyug3W0Q&disp=emb&realattid=ii_lj5evy451">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div class="row"> 
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="https://mail.google.com/mail/u/0?ui=2&ik=78d02b960e&attid=0.1&permmsgid=msg-f:1769297600288510276&th=188dcecb1725d144&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ8EcivfwHFiY-uQZmmL_Wr59pdh_sgJkkp-yCwVJ9UKiSTuMMCLPe4yFVNnZu2ew-9B8fNod-XQkvjw-cwsHyHO_oW7EyE1Qb76V1lAbox0IF5UfpFwEaMvVtQ&disp=emb&realattid=ii_lj5evtan0">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://mail.google.com/mail/u/0?ui=2&ik=78d02b960e&attid=0.1&permmsgid=msg-f:1769297600288510276&th=188dcecb1725d144&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ8EcivfwHFiY-uQZmmL_Wr59pdh_sgJkkp-yCwVJ9UKiSTuMMCLPe4yFVNnZu2ew-9B8fNod-XQkvjw-cwsHyHO_oW7EyE1Qb76V1lAbox0IF5UfpFwEaMvVtQ&disp=emb&realattid=ii_lj5evtan0">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://mail.google.com/mail/u/0?ui=2&ik=78d02b960e&attid=0.1&permmsgid=msg-f:1769297600288510276&th=188dcecb1725d144&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ8EcivfwHFiY-uQZmmL_Wr59pdh_sgJkkp-yCwVJ9UKiSTuMMCLPe4yFVNnZu2ew-9B8fNod-XQkvjw-cwsHyHO_oW7EyE1Qb76V1lAbox0IF5UfpFwEaMvVtQ&disp=emb&realattid=ii_lj5evtan0">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
  

{% endblock %}