{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<div class="row">
    <div class="card" style="margin-top: 50px;">
        <img src="{{url_for('static', filename='microwave.jpg')}}" class="card-img-top" alt="come on">
        <div class="card-body">
          <h5 class="card-title">Microwave Powered by Scream</h5>
          <p class="card-text">A Revolutionary Microwave Which is Being Powered by Newly Integrated Technology.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>

      <div class="card" style="margin-top: 50px;">
        <img src="{{url_for('static', filename='unnamed (2).jpg')}}" class="card-img-top" alt="come on">
        <div class="card-body">
          <h5 class="card-title">Fridge which Light Turn off When You Open it</h5>
          <p class="card-text">Newly Introduced Fridge Which Automatically Turns off Lights When You Open it.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    
      <div class="card" style="margin-top: 50px;">
        <img src="{{url_for('static', filename='unnamed (1).jpg')}}" class="card-img-top" alt="come on">
        <div class="card-body">
          <h5 class="card-title">Kettle Which Works in Quiet</h5>
          <p class="card-text">Technology Introduced in This Product Coexists with Microwave and Creates Beloved 'Autistic House'.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
</div class="row"> 
<div class="row">
    <div class="card" style="margin-top: 130px;">
        <img src="{{url_for('static', filename='unnamed.jpg')}}" class="card-img-top" alt="come on">
        <div class="card-body">
          <h5 class="card-title">Glass without Window</h5>
          <p class="card-text">Problem of Opening a Window is GONE! Simply by Moving our Glass without Window and BOOM!! The Work is Done!.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
      <div class="card" style="margin-top: 130px;">
        <img src="{{url_for('static', filename='noglass.jpg')}}" class="card-img-top" alt="come on">
        <div class="card-body">
          <h5 class="card-title">Window without Glass</h5>
          <p class="card-text">Youre Always Hot in Your House and in Constant Need to Open the Window? FEAR NOT With our Product the Window is ALWAYS OPEN!!!.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
      <div class="card" style="margin-top: 130px;">
        <img src="{{url_for('static', filename='hair.jpg')}}" class="card-img-top" alt="come on">
        <div class="card-body">
          <h5 class="card-title">Hair Thing which Turns on When its off</h5>
          <p class="card-text">With our Newly Invented Power Technology You Can Have This Hair Thing Turned on When its off! It Will Consume Power When its Plugged in to Turn off!.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
</div>
  

{% endblock %}